<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Validator - Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M4TLZ8N6CC"></script>
    <style>
        /* Custom styles */
        .container{
            padding: 40px 0;
            width: 75%; /* Full width of the column */
        }
        .btn-primary{
            width: 30%; /* Make buttons take full width of the container */
            background-color: #0056b3;
            color: white;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 18px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            transition: all 0.3s ease;
            border: none;
            margin-bottom: 10px; /* Add spacing between buttons */
        }
        .btn-primary:hover {
            background-color: #004080; /* Darker blue on hover */
        }
        .option-btn {
            border: 2px solid #0056b3; /* Primary color border */
            background-color: white;
            color: grey;
            margin: 5px;
            padding: 12px 18px; /* Increased padding */
            border-radius: 20px;
            transition: background-color 0.3s, color 0.3s;
            font-size: 1.1rem; /* Slightly larger font size */
        }

        .option-btn.active {
            background-color: #0056b3; /* Change to primary color for active state */
            color: white;
            transform: scale(1.05); /* Slightly increase the size */
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }
        .option-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
        }

        .option-image {
            width: 125px; /* Increased width by 25% */
            height: 125px; /* Increased height by 25% */
            object-fit: cover; /* Ensures the image covers the area without distorting */
            margin-bottom: 5px;
            border-radius: 10px; /* Optional: for rounded corners */
        }

        .options-row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .landing-section {
            padding: 40px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .landing-section img {
            width: 50%; /* Reduced image size by about 50% */
            border-radius: 20px;
        }
        .feature-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background: white;
            min-height: 200px;
            margin-bottom: 30px; /* Reduced space between cards */
        }
        .feature-card .row {
            margin-left: 0; /* Reset row margin */
            margin-right: 0; /* Reset row margin */
        }

        .feature-card .card-img {
            width: 100%; /* Full width of the column */
            margin-right: 0; /* Reset margin right */
            padding-right: 0; /* Reset padding right */
            /* Adjust image size as needed */
        }

        .card-content {
            flex-grow: 1;
            text-align: center;
            padding: 15px; /* Reduced padding */
        }

        .card-content h3 {
            font-size: 1.25rem; /* Adjust headline font size if needed */
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-content p {
            font-size: 0.9rem; /* Reduced font size */
            margin-bottom: 0.5rem; /* Reduced bottom margin */
            padding: 20px;
        }

        .stat {
            padding: 15px; /* Reduced padding */
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center stat vertically */
            padding: 20px;
        }

        .metric-number {
            font-size: 1.5rem; /* Adjusted for space */
        }

        .metric-description {
            font-size: 0.9rem; /* Reduced font size */
        }

        /* Responsive adjustments */
        @media (max-width: 768px) {
            .feature-card {
                flex-direction: column;
            }

            .feature-card .card-img,
            .card-content,
            .stat {
                width: 100%; /* Full width on smaller screens */
            }

            .card-content h3 {
                font-size: 1.2rem; /* Adjusted for smaller screens */
                white-space: normal; /* Allow wrapping on small screens */
            }
        }
           body {
        background-color: #E8E8E8; /* Sets the entire page background to black */
        }
        h1 {
            font-size: 48px;
            color: black;
            margin-bottom: 20px;
        }
        h3 {
            margin: 30px;
        }
        .latest-images-row {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .latest-image-container {
            margin: 10px;
            padding: 5px;
        }

        .latest-image {
            width: 150px; /* Adjust as needed */
            border-radius: 5px;
            height: auto;
            object-fit: cover;
        }
    </style>
</head>
  <body>
    <div class="landing-section">
        <div>
            <h1>Bring Your Architectural Vision into Reality</h1>
            <p style="color: black;">Custom design your own home, building, or entire architectural style!</p>
            <div style="display: flex; align-items: center; margin-top: 20px;">
                <p style="margin-right: 10px; color: black;">Learn About Real Building Architecture</p>
                <button type="button" id="navigateButton" class="btn btn-primary" data-url="<%= architecture_explorer_new_path %>">Analyze Architecture</button>
            </div>
        </div>
        <%= image_tag 'Architecture Style.png', alt: 'Architecture Style', class: 'img-fluid' %>
    </div>
    <!-- Latest Images Section -->
    <h2>Latest Creations</h2>
    <div class="latest-images-row">
        <% @latest_images.each do |image| %>
            <% if image.image_url.present? %>
                <div class="latest-image-container">
                    <%= image_tag image.image_url, alt: "Latest Image", class: "latest-image" %>
                </div>
            <% else %>
                <p>Image not available</p>
            <% end %>
        <% end %>
    </div>
    <!--section with the initial selections-->
    <div class="container">
        <%= form_with url: '/architecture_designer/step2', method: :get, id: 'options_form' do %>
            <div class="feature-card">
                <div class="card-content text-center">
                    <h3>What Would You Like to Bring to Life?</h3>
                    <div class="options-row">
                        <% ['Residential Home', 'Large Building', 'Interior Design', 'Architecture Style'].each do |option| %>
                            <div class="option-container">
                                <% image_file = case option
                                    when 'Residential Home' then 'residential_home.png'
                                    when 'Large Building' then 'large_building.png'
                                    when 'Interior Design' then 'interior_style.png'
                                    when 'Architecture Style' then 'architecture_style.png'
                                    else 'default.png' # default image if none of the above
                                end %>
                                <%= image_tag image_file, alt: "#{option} Image", class: 'option-image' %>
                                <%= button_tag type: 'button', class: 'btn option-btn', data: { value: option } do %>
                                    <%= option %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    <%= hidden_field_tag 'selected_option', nil, id: 'selected_option' %>
                </div>
            </div>
            <div class="next-button-container mt-3 text-center">
                <%= submit_tag 'Next', class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var optionButtons = document.querySelectorAll('.option-btn');
            optionButtons.forEach(function (btn) {
                btn.addEventListener('click', function () {
                    // Reset active state for all buttons
                    optionButtons.forEach(function (otherBtn) {
                        otherBtn.classList.remove('active');
                    });

                    // Activate the clicked button
                    this.classList.add('active');

                    // Update the hidden field value
                    document.getElementById('selected_option').value = this.dataset.value;
                });
            });

            // Adding listener for the navigate button
            var navigateButton = document.getElementById('navigateButton');
            if (navigateButton) {
                navigateButton.addEventListener('click', function() {
                    window.location.href = this.getAttribute('data-url');
                });
            }
        });
    </script>
</body>
</html>
