<!-- app/views/devise/registrations/new.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .image-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 15px; /* Space between columns */
    }
    h2 {
      font-size: 40px;
      padding: 10px;
    }
    h3 {
      font-size: 20px;
      padding: 10px;
    }
    card {
      padding: 10px;
      display: flex;
    }
  </style>
</head>
<body>
  <div class="row">

    <!-- Column for the Title, Subtitle, and Image -->
    <div class="col-lg-6 image-column">
      <h2>Sign Up For Free</h2>
      <h3>Get Access to Exclusive Architecture Features</h3>
      <h3>Free Access to Other Tools</h3>
      <%= image_tag 'screenshot_text_searcher.png', class: 'img-fluid', style: 'border: 2px solid #bababa; border-radius: 15px;' %>
    </div>
      <div class="card">
        <h5 class="card-header text-center" style="color: #01161e;">Sign Up</h5>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :email, class: 'control-label' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password, class: 'control-label' %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: 'control-label' %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="actions text-center">
              <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>

          <div class="text-center mt-3">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
