<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head content, similar to existing page -->
    <title>User Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script defer data-domain="app.architecturehelper.com" src="https://plausible.io/js/script.js"></script>
    <style>
        body {
            background-color: #E8E8E8;
            font-family: 'Arial', sans-serif;
        }
        .profile-container {
            background: #FFFFFF;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
        }
        .profile-picture {
            max-width: 200px;
            border-radius: 50%;
            margin: 10px auto;
            display: block;
        }
        .profile-info {
            margin-top: 20px;
        }
        .profile-info strong {
            color: #0056b3;
        }
        .edit-btn {
            display: block;
            width: 30%;
            background-color: #0056b3;
            color: white;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 18px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            transition: all 0.3s ease;
            border: none;
            margin: 20px auto;
            text-decoration: none;
        }
        .edit-btn:hover {
            background-color: #004080;
        }
        .hidden-style {
            display: none;
        }
        .parent-container {
            margin: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap; /* To ensure responsiveness */
        }

        .stat-card {
            background: #f8f9fa;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease-in-out;
            margin-bottom: 15px;
            text-align: center;
            flex-basis: 30%; /* Adjust size of cards */
            margin: 10px; /* Space between cards */
        }

        .stat-card:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }

        .stat-icon {
            font-size: 30px;
            color: #0056b3;
            margin-bottom: 10px;
        }

        .stat-title {
            font-size: 18px;
            color: #333;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .stat-number {
            font-size: 48px;
            color: #0056b3;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .style-name {
            font-size: 16px;
        }

        .frequency-number {
            color: initial;
        }

        .frequency-number.primary-color {
            font-weight: bold;
            font-size: 18px;
            color: #0056b3;
        }

        .hidden-style {
            display: none;
        }

        .show-more-less-btn {
            font-size: 18px;
            color: #0056b3;
            text-decoration: underline;
            cursor: pointer;
            margin-top: 10px;
        }
        #styleList {
            font-size: 16px; /* Adjust based on your design needs */
            list-style-type: none; /* Remove bullet points */
            padding-left: 0; /* Remove default padding */
            margin: 0; /* Remove default margins for consistency */
        }
        @media (max-width: 768px) {
            .parent-container {
                flex-direction: column;
                align-items: center;
            }
            .stat-card {
                width: 80%;
                margin-bottom: 20px;
            }
        }
    </style>
</head>
<body>
<div class="profile-container">
    <h1 style="text-align: center;"><%= @user.public_name %>'s Profile</h1>

    <% if @user.profile_picture.present? %>
        <img src="<%= @user.profile_picture %>" alt="<%= @user.public_name %>'s profile picture" class="profile-picture">
    <% end %>

    <div class="profile-info">
        <strong>Handle:</strong>
        <p><%= @user.handle %></p>
    </div>

    <% if @user.bio.present? %>
        <div class="profile-info">
            <strong>Bio:</strong>
            <p><%= @user.bio %></p>
        </div>
    <% end %>

    <!-- User Stats Section -->
    <% if @user.display_stats %>
        <div class="heading-container">
            <h2>Your Building Stats</h2>
        </div>
        <div class="parent-container d-flex justify-content-around">
            <!-- Unique Influences & Styles Card -->
            <div class="stat-card">
                <div class="stat-icon">🏛️</div>
                <div class="stat-title">Unique Influences & Styles</div>
                <div class="stat-number"><%= @unique_style_count %></div>
            </div>

            <!-- Frequent Styles Card -->
            <div class="stat-card">
                <div class="stat-icon">🌟</div>
                <div class="stat-title">Favorite Styles</div>
                <div class="stat-number">
                    <ul id="styleList">
                        <% @style_frequency.each_with_index do |(style, frequency), index| %>
                            <li class="<%= 'hidden-style' if index >= 5 %> style-list-item">
                                <span class="style-name"><%= style %>:</span>
                                <span class="frequency-number primary-color"><%= frequency %></span>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>

            <!-- Buildings Analyzed Card -->
            <div class="stat-card">
                <div class="stat-icon">🏢</div>
                <div class="stat-title">Buildings Analyzed</div>
                <div class="stat-number"><%= @buildings_submitted_count %></div>
            </div>
        </div>
    <% end %>

    <% if user_signed_in? && current_user == @user %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'edit-btn' %>
    <% end %>
</div>
</body>
</html>