<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Validator - Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script defer data-domain="architecturehelper.com" src="https://plausible.io/js/script.js"></script>

    <style>
        /* Custom styles */
        .container{
            padding: 40px 0;
            width: 75%; /* Full width of the column */
        }
        .btn-primary{
            width: 60%; /* Make buttons take full width of the container */
            background-color: #0056b3;
            color: white;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 18px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            transition: all 0.3s ease;
            border: none;
            margin-bottom: 10px; /* Add spacing between buttons */
        }
        .btn-primary:hover {
            background-color: #004080; /* Darker blue on hover */
        }
        .landing-section {
            padding: 40px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .landing-section img {
            width: 20%; /* Reduced image size by about 50% */
            border-radius: 20px;
        }
        .feature-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background: white;
            min-height: 200px;
            margin-bottom: 30px; /* Reduced space between cards */
        }
        .feature-card .row {
            margin-left: 0; /* Reset row margin */
            margin-right: 0; /* Reset row margin */
        }

        .feature-card .card-img {
            width: 100%; /* Full width of the column */
            margin-right: 0; /* Reset margin right */
            padding-right: 0; /* Reset padding right */
            /* Adjust image size as needed */
        }

        .card-content {
            flex-grow: 1;
            text-align: center;
            padding: 15px; /* Reduced padding */
        }

        .card-content h3 {
            font-size: 1.25rem; /* Adjust headline font size if needed */
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-content p {
            font-size: 0.9rem; /* Reduced font size */
            margin-bottom: 0.5rem; /* Reduced bottom margin */
            padding: 20px;
        }

        .stat {
            padding: 15px; /* Reduced padding */
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center stat vertically */
            padding: 20px;
        }

        .metric-number {
            font-size: 1.5rem; /* Adjusted for space */
        }

        .metric-description {
            font-size: 0.9rem; /* Reduced font size */
        }

        /* Responsive adjustments */
        @media (max-width: 768px) {
            .feature-card {
                flex-direction: column;
            }

            .feature-card .card-img,
            .card-content,
            .stat {
                width: 100%; /* Full width on smaller screens */
            }

            .card-content h3 {
                font-size: 1.2rem; /* Adjusted for smaller screens */
                white-space: normal; /* Allow wrapping on small screens */
            }
        }
           body {
        background-color: #E8E8E8; /* Sets the entire page background to black */
        }
        h1 {
            font-size: 48px;
            color: black;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="landing-section">
        <div>
            <h1>Future Home to a Tool for Builders of AI Tools</h1>
            <p style="color: black;">Current home of a series of AI micro apps...</p>
            <%# <form action="your_signup_endpoint" class="form-inline justify-content-center"> %>
                <%# <input type="email" placeholder="email" class="form-control mb-2 mr-sm-2"> %>
                <%# <button type="submit" class="btn btn-primary mb-2">Notify Me</button> %>
            <%# </form> %>
        </div>
        <%= image_tag 'validator.png', alt: 'Logo', class: 'img-fluid' %>
    </div>

    <!-- Feature Cards Section -->
    <div class="container">
        <!-- Architecture Designer -->
        <div class="feature-card d-flex">
            <div class="col-md-3">
                <%= image_tag 'urban design.png', alt: 'Architecture Design', class: 'card-img' %>
            </div>
            <div class="card-content col-md-5 text-center">
                <h3><span class="emoji-icon">🏛️</span>Architecture Designer</h3>
                <p>Create and understand architecture with AI-powered designs.</p>
                <a href="/architecture_designer/step1" class="btn btn-primary">Design Now</a>
            </div>
            <div class="stat col-md-3 text-center">
                <div class="metric-number"><%= ArchImageGen.count %></div>
                <div class="metric-description">Designs Created</div>
            </div>
        </div>
        <!-- Rate My Dog -->
        <div class="feature-card d-flex">
            <div class="col-md-3">
                <%= image_tag 'Dog.png', alt: 'Dog', class: 'card-img' %>
            </div>
            <div class="card-content col-md-5 text-center">
                <h3><span class="emoji-icon">🐶</span>Rate My Dog</h3>
                <p>Upload an image of your dog and get a cute rating!</p>
                <a href="/rate_my_dog" class="btn btn-primary">Rate My Dog</a>
            </div>
            <div class="stat col-md-3 text-center">
                <div class="metric-number"><%= DogRating.count %></div>
                <div class="metric-description">Dogs Rated</div>
            </div>
        </div>

        <!-- Tweet Roastery -->
        <div class="feature-card d-flex">
            <div class="col-md-3">
                <%= image_tag 'Fans.png', alt: 'Tweet', class: 'card-img' %>
            </div>
            <div class="card-content col-md-5 text-center">
                <h3><span class="emoji-icon">🔥</span>Tweet Roastery</h3>
                <p>Get your tweet roasted with AI-powered humor!</p>
                <a href="/roastery" class="btn btn-primary">Get Roasted</a>
            </div>
            <div class="stat col-md-3 text-center">
                <div class="metric-number"><%= GptInteraction.count %></div>
                <div class="metric-description">Tweets Roasted</div>
            </div>
        </div>

        <!-- Screenshot Searcher -->
        <div class="feature-card d-flex">
            <div class="col-md-3">
                <%= image_tag 'Search.png', alt: 'Search', class: 'card-img' %>
            </div>
            <div class="card-content col-md-5 text-center">
                <h3><span class="emoji-icon">📸</span>Screenshot Text Extractor</h3>
                <p>Upload and search your screenshots by text content.</p>
                <a href="/screenshot_searcher" class="btn btn-primary">Search Screenshots</a>
            </div>
            <div class="stat col-md-3 text-center">
                <div class="metric-number"><%= ScreenshotAnalysis.count %></div>
                <div class="metric-description">Screenshots <br> Uploaded</div>
            </div>
        </div>
    </div>

    <!-- Include necessary scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>