<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architecture Helper - Sign In</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M4TLZ8N6CC"></script>
    <script defer data-domain="app.architecturehelper.com" src="https://plausible.io/js/script.js"></script>
    <script>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        posthog.init('phc_MltKSavY2s3FENOZhvocfU5qHx4f8xsJTAku0H0jVLH',{api_host:'https://app.posthog.com'})
    </script>
    <style>
        /* Add styles from the sign-up page here */
        .image-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
        }
        .card {
        margin-top: 20px;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Make sure it covers the full viewport height */
            width: 100vw; /* Cover full viewport width */
        }
        .login-container {
            width: 100%; /* Adjust based on desired width, e.g., 600px or 50% */
            max-width: 600px; /* Maximum width */
            margin: 0 auto; /* Centering horizontally */
            padding: 20px; /* Adds some padding inside the border */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
            background: white; /* Ensures the background is white */
            border: 2px solid #dee2e6; /* Keeps the border as defined */
            border-radius: 5px; /* Optional: adds rounded corners */
        }
        .landing-section {
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .btn-sign-up {
            background-color: #0056b3;
            color: white;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 18px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            transition: background-color 0.3s ease;
            text-decoration: none;
            margin-top: 20px;
        }

        .btn-sign-up:hover {
            background-color: #004080;
        }

        .card {
            margin-top: 20px;
        }
        h3 {
            padding: 10px;
            font-size: 16px;
        }
        .gsi-material-button {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -webkit-appearance: none;
            background-color: WHITE;
            background-image: none;
            border: 1px solid #747775;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: #1f1f1f;
            cursor: pointer;
            font-family: 'Roboto', arial, sans-serif;
            font-size: 16px;
            height: 40px;
            letter-spacing: 0.25px;
            outline: none;
            overflow: hidden;
            padding: 0 12px;
            position: relative;
            align-items: center;
            text-align: center;
            -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
            transition: background-color .218s, border-color .218s, box-shadow .218s;
            vertical-align: middle;
            white-space: nowrap;
            width: 100%; /* Ensure it takes full width */
            max-width: 600px;
            min-width: min-content;
            margin-top: 12px;
            margin-bottom: 12px;
            }

        .gsi-material-button .gsi-material-button-icon {
            height: 20px;
            margin-right: 12px;
            min-width: 20px;
            width: 20px;
            }

        .gsi-material-button .gsi-material-button-content-wrapper {
            -webkit-align-items: center;
            align-items: center;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
            height: 100%;
            justify-content: space-between;
            position: relative;
            width: 100%;
            }

        .gsi-material-button .gsi-material-button-contents {
            -webkit-flex-grow: 1;
            flex-grow: 1;
            font-family: 'Roboto', arial, sans-serif;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
            }

        .gsi-material-button .gsi-material-button-state {
            -webkit-transition: opacity .218s;
            transition: opacity .218s;
            bottom: 0;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            }

        .gsi-material-button:disabled {
            cursor: default;
            background-color: #ffffff61;
            border-color: #1f1f1f1f;
            }

        .gsi-material-button:disabled .gsi-material-button-contents {
            opacity: 38%;
            }

        .gsi-material-button:disabled .gsi-material-button-icon {
            opacity: 38%;
            }

        .gsi-material-button:not(:disabled):active .gsi-material-button-state, 
        .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
            background-color: #303030;
            opacity: 12%;
            }

        .gsi-material-button:not(:disabled):hover {
            -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
            }

        .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
            background-color: #303030;
            opacity: 8%;
            }
        .border-container {
            border: 2px solid #dee2e6; /* Example border style */
            border-radius: 5px; /* Optional: adds rounded corners */
        }

        .logo-header {
            display: flex;
            align-items: center;
            justify-content: center; /* Updated for logo and text alignment */
            gap: 10px; /* Space between logo and text */
        }

        .login-logo {
            height: 50px; /* Adjust based on your preference */
            width: auto; /* Maintain aspect ratio */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="login-container border-container">
                <div class="card-header text-center logo-header">
                    <img src="<%= asset_path('archilogo.png') %>" alt="Architecture Helper Logo" class="login-logo">
                    <h5>Log Into Your Architecture Helper Account</h5>
                </div>
                <div class="card-body">
                    <% if devise_mapping.omniauthable? %>
                        <% resource_class.omniauth_providers.each do |provider| %>
                            <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: 'false' }, class: "gsi-material-button" do %>
                                <div class="gsi-material-button-content-wrapper">
                                    <img src="<%= asset_path('googlelogo.png') %>" alt="Google" class="gsi-material-button-icon">
                                    <span class="gsi-material-button-contents">Continue with Google</span>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <div class="form-group">
                            <%= f.label :email, class: 'control-label' %>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                        </div>
                        <div class="form-group">
                            <%= f.label :password, class: 'control-label' %>
                            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                        </div>
                        <% if devise_mapping.rememberable? %>
                            <div class="form-group form-check">
                                <%= f.check_box :remember_me, class: 'form-check-input' %>
                                <%= f.label :remember_me, class: 'form-check-label' %>
                            </div>
                        <% end %>
                        <div class="actions text-center">
                            <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
                        </div>
                    <% end %>
                    <div class="text-center mt-3">
                        <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>