<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architecture Helper - Sign In</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M4TLZ8N6CC"></script>
    <script defer data-domain="app.architecturehelper.com" src="https://plausible.io/js/script.js"></script>
    <script>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        posthog.init('phc_MltKSavY2s3FENOZhvocfU5qHx4f8xsJTAku0H0jVLH',{api_host:'https://app.posthog.com'})
    </script>
    <style>
        /* Add styles from the sign-up page here */
        .image-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
        }
        .card {
        margin-top: 20px;
        }
        .login-container {
            position: fixed; /* Fixed position */
            top: 20%; /* Center vertically */
            width: 400px; /* Set a specific width for the form */
            z-index: 1000; /* Ensure it's above other elements */
            background: white;
        }
        .landing-section {
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .btn-sign-up {
            background-color: #0056b3;
            color: white;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 18px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            transition: background-color 0.3s ease;
            text-decoration: none;
            margin-top: 20px;
        }

        .btn-sign-up:hover {
            background-color: #004080;
        }

        .card {
            margin-top: 20px;
        }
        h3 {
            padding: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Image and updates section -->
            </div>

            <div class="col-md-6">
                <div class="login-container">
                    <h5 class="card-header text-center">Log in</h5>
                    <div class="card-body">
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <%= render "devise/shared/error_messages", resource: resource %>

                            <div class="form-group">
                                <%= f.label :email, class: 'control-label' %>
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                            </div>

                            <div class="form-group">
                                <%= f.label :password, class: 'control-label' %>
                                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                            </div>

                            <% if devise_mapping.rememberable? %>
                                <div class="form-group form-check">
                                    <%= f.check_box :remember_me, class: 'form-check-input' %>
                                    <%= f.label :remember_me, class: 'form-check-label' %>
                                </div>
                            <% end %>

                            <div class="actions text-center">
                                <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
                            </div>
                        <% end %>

                            <!-- Google Sign-In Button -->
                            <div class="mt-3 text-center">
                                <% if devise_mapping.omniauthable? %>
                                    <% resource_class.omniauth_providers.each do |provider| %>
                                        <%= button_to 'Login with Google', user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: 'false' }, class: "btn btn-primary btn-block" %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <%= render "devise/shared/links" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>