<h1>Submit Feedback</h1>

<%= form_with(model: @feedback, url: feedbacks_path, method: :post) do |form| %>
  <div class="feedback-selection">
    <%= form.button type: 'submit', class: 'btn btn-success' do %>
  <i class="fas fa-thumbs-up custom-icon"></i>  <!-- Font Awesome "Thumbs Up" icon -->
    <% end %>
    <%= form.hidden_field :vote, value: true %>

    <%= form.button type: 'submit', class: 'btn btn-danger' do %>
  <i class="fas fa-thumbs-down custom-icon"></i>  <!-- Font Awesome "Thumbs Down" icon -->
   <% end %>
    <%= form.hidden_field :vote, value: false %>
  </div>
 <div id="comment-box" style="display: none;">
    <%= form.text_area :comment, class: 'form-control', placeholder: 'Enter your feedback here' %>
    <%= form.button 'Submit Feedback with Comment', type: 'submit', class: 'btn btn-primary' %>
  </div>
  <button onclick="toggleVisibility()">Click me to toggle text visibility</button>
<p id="hiddenText" style="display: none;">This is some text that was hidden!</p>

<% end %>

