<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Analysis Generator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M4TLZ8N6CC"></script>
    <script defer data-domain="app.architecturehelper.com" src="https://plausible.io/js/script.js"></script>
    <script>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        posthog.init('phc_MltKSavY2s3FENOZhvocfU5qHx4f8xsJTAku0H0jVLH',{api_host:'https://app.posthog.com'})
    </script>
<style>
    .container {
        background: #FFFFFF; /* White container background */
        border-radius: 15px;
        padding: 10px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .btn-primary {
        width: 250px; /* Make buttons take full width of the container */
        background-color: #0056b3;
        color: white;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 18px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
        border: none;
        margin-bottom: 10px; /* Add spacing between buttons */
    }
    .btn-primary:hover {
        background-color: #004080; /* Darker blue on hover */
    }
    .btn-secondary {
        background-color: white;
        color: #0056b3; /* Adjust the color to match your theme */
        /* border: 2px solid #0056b3; */
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 18px;
        text-align: center;
        transition: all 0.3s ease;
    }
    .btn-secondary:hover {
        background-color: #0056b3;
        color: white;
        border-color: #003366; /* Darker blue for hover border */
    }
    h1 {
        font-size: 48px;
        color: black;
        margin-bottom: 10px;
    }
    h3 {
        margin: 10px;
    }
    body {
       background-color: #E8E8E8; /* Sets the entire page background to black */
    }
    .loader {
        border: 5px solid #f3f3f3; /* Light loader ring */
        border-radius: 50%;
        border-top: 5px solid #0056b3; /* Blue loader top */
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin: auto;
        margin-top: 10px;
        display: none; /* Initially hidden */
    }
    #generate-style-analysis {
        display: none; /* Initially hide the button */
        text-align: center;
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
     @media (max-width: 768px) {
      .btn-primary {
        width: 60%; /* Make buttons take full width of the container */
      }
    }
    .container-for-loader-and-text {
        display: flex;
        flex-direction: column; /* Stack children vertically */
        align-items: center; /* Center children horizontally */
        justify-content: center; /* Center children vertically */
        height: 100px; /* Adjust based on your needs */
    }
</style>
<div class="container" style="background: #fff; border-radius: 15px; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);">
      <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="mt-5" style="color: #01161e;">Generate Design Analysis</h1>
                <p>Extract architectural styles and influences from any home, building, or interior image or by entering an address.</p>
                
                <% if user_signed_in? %>
                    <%= form_with url: architecture_explorer_path, local: true, multipart: true, html: { class: "gpt-form-container" } do |form| %>
                        <div class="d-flex justify-content-center align-items-end mb-2">
                            <div class="form-group mr-2">
                                <%= form.text_field :address, class: 'form-control', placeholder: "Enter address", id: "address" %>
                            </div>
                            <button id="fetch-street-view" class="btn btn-primary mr-2">Fetch Street View</button>
                            <%= form.file_field :image, direct_upload: true, onchange: "previewImage(event)", class: "d-none", id: "image-upload" %>
                            <label for="image-upload" class="btn btn-secondary mr-2">Upload Instead</label>
                        </div>

                        <!-- Image Preview -->
                        <div id="image-preview-container" class="text-center" style="margin-top: 20px;">
                            <img id="image-preview" alt="Image Preview" style="display: none; max-width: 100%; max-height: 500px; margin: auto; border-radius: 5px;"/>
                        </div>

                        <!-- Hidden input for previewed image URL -->
                        <%= hidden_field_tag :previewed_image_url, nil, id: "previewedImageUrl" %>

                        <div style="display: flex; justify-content: center; width: 100%;">
                            <% if current_user.subscription_status != 'active' && current_user.credits <= 0 %>
                                <%= link_to "Subscribe to Generate Analysis", account_path, class: "btn btn-primary", id: "subscribe-to-continue", style: "margin-top: 20px;" %>
                            <% else %>
                                <%= form.submit "Generate Style Analysis", class: "btn btn-primary", id: "generate-style-analysis", style: "margin-top: 20px;" %>
                            <% end %>
                        </div>
                    <% end %>
                <% else %>
                    <p>Please <%= link_to 'sign in', new_user_session_path %> to use this feature.</p>
                <% end %>
            </div>
            <div class="container-for-loader-and-text">
                <div id="loading-text" style="display: none;">Please wait, this takes a moment.</div>
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var form = document.querySelector('.gpt-form-container');
    var loader = document.querySelector('.loader');
    var loadingText = document.getElementById('loading-text');
    var generateStyleAnalysisButton = document.getElementById('generate-style-analysis');

    // Function to show loading animation and message
    function showLoading() {
        loader.style.display = 'block';
        loadingText.style.display = 'block';
    }

    if (form) {
        form.addEventListener('submit', function(e) {
            // Prevent form submission if there is no image
            var imagePreview = document.getElementById('image-preview');
            if (imagePreview.style.display === 'none' || !imagePreview.src) {
                e.preventDefault();
                alert('Please upload an image or fetch a street view before generating style analysis.');
                return false;
            }

            // Call showLoading function on form submission
            showLoading();
        });
    }

    // Function to toggle the visibility of the 'Generate Style Analysis' button
    function toggleGenerateButtonVisibility() {
        var imagePreview = document.getElementById('image-preview');
        if (imagePreview.style.display === 'block' && imagePreview.src) {
            generateStyleAnalysisButton.style.display = 'block';
        } else {
            generateStyleAnalysisButton.style.display = 'none';
        }
    }

    document.getElementById('fetch-street-view').addEventListener('click', function(e) {
        e.preventDefault();
        var address = document.getElementById('address').value;
        if (address) {
            var proxyUrl = `/proxy/fetch_street_view?location=${encodeURIComponent(address)}`;
            var output = document.getElementById('image-preview');
            output.src = proxyUrl;
            output.style.display = 'block';
            var hiddenInput = document.getElementById('previewedImageUrl');
            hiddenInput.value = proxyUrl;

            // Show the 'Generate Style Analysis' button
            toggleGenerateButtonVisibility();
        }
    });

    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('image-preview');
            output.src = reader.result;
            output.style.display = 'block';

            // Show the 'Generate Style Analysis' button
            toggleGenerateButtonVisibility();
        };
        reader.readAsDataURL(event.target.files[0]);
    }
    document.getElementById('image-upload').addEventListener('change', previewImage);
});
</script>